<div class="categories row">
    {% for id, category in categories.items() %}
        <div
            style="background-image: url(assets/{{category.Image}})"
            class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <div class="overlay padding-md center">
                <h3>
                    <a href="products.html?title={{strings[id]}}&type={{category.Type}}">
                        {{strings[id]}}
                    </a>
                </h3>
                <br/>
                <ul>
                    {% for id, subcategory in category.Subcategories.items() %}
                        {% if strings[id] %}
                            <li class="padding-xs">
                                <a href="products.html?title={{strings[id]}}&type={{subcategory.Type}}">
                                    {{strings[id]}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
