/* Input Style */
input {
    font-family: "Poppins", sans-serif;
    color: {{style.Black}};
    background: {{style.White}};
    border: 2px solid {{style.Primary}};
    outline: none;
    font-weight: bold;
    width: 100%;
    display: block;
    word-spacing: 10px;
    letter-spacing: 2px;
    user-select: none;
    padding: 0;
    border-radius: 1px;
    transition-duration: 0.2s;
}
input:hover, input:active, input:focus {
    border: 2px solid {{style.Secondary}};
}

/* Button Style */
button.button-white {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    background: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1px;
    transition-duration: 0.2s;
    outline: none;
    opacity: 0.8;
    border: 2px solid {{style.White}};
    color: {{style.White}};
}
button.button-white:hover {
    opacity: 1;
    border: 2px solid {{style.Primary}};
    color: {{style.Primary}};
}
button.button-black {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    border: 2px solid {{style.Black}};
    color: {{style.White}};
    background: {{style.Black}};
    font-size: 1em;
    font-weight: bold;
    border-radius: 1px;
    transition-duration: 0.2s;
    outline: none;
}
button.button-black:hover {
    border: 2px solid {{style.Primary}};
    color: {{style.Black}};
    background: {{style.Secondary}};
}

/* Select Style */
.select2 {
    font-family: "Poppins", sans-serif!important;
    color: {{style.Black}}!important;
    background: {{style.White}}!important;
    border: 2px solid {{style.Primary}}!important;
    outline: none!important;
    word-spacing: 10px!important;
    letter-spacing: 2px!important;
    user-select: none;
    padding: 0px!important;
    border-radius: 1px!important;
    transition-duration: 0.2s;
    width: 70% !important;
}
.select2 * {
    outline: none!important;
    border: none;
}
.select2:hover, .select2:active, .select2:focus {
    border: 2px solid {{style.Secondary}}!important;
}
.select2 .select2-selection {
    background: {{style.White}}!important;
    border: none!important;
}
.select2-dropdown {
    color: {{style.Black}}!important;
    background: {{style.White}}!important;
    border: 2px solid {{style.Primary}}!important;
}
.select2-search__field {
    font-family: "Poppins", sans-serif!important;
    color: {{style.Black}}!important;
    background: {{style.White}}!important;
    border: 2px solid {{style.Primary}}!important;
}
.select2-results__option {
    font-family: "Poppins", sans-serif!important;
    color: {{style.Black}}!important;
    font-size: 1em!important;
}
.select2-results__option--highlighted {
    color: {{style.White}}!important;
    background: {{style.Primary}}!important;
}
