/* Body Style */
body {
    width: 100%;
    overflow-x: hidden;
    background: {{style.White}};
    font-family: "Poppins", sans-serif;
    display: block;
}

/* Footer Style */
footer { background: {{style.Black}}; }
footer h1 { color: {{style.White}}; }
footer h2 { color: {{style.White}}; }
footer h3 { color: {{style.White}}; }
footer h4 { color: {{style.White}}; }
footer h5 { color: {{style.White}}; }
footer h6 { color: {{style.White}}; }
footer p { color: {{style.White}}; }
footer a { color: {{style.White}}; }

/* Header Style */
.header {
    z-index: 1000;
    background: {{style.White}};
    display: flex;
    width: 100%;
    position: relative;
    margin: 0;
    justify-content: space-between;
    align-items: space-between;
    box-shadow: 0px 0px 5px 5px {{style.Silver}};
}
.header > div {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Shipping Style */
.shipping {
    z-index: 900;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}
.shipping img {
    width: 50px;
}

/* Shipping Style */
.categories {
    z-index: 900;
    background: {{style.Silver}};
    display: block;
    width: 100%;
    margin: 0;
}
.categories > div {
    display: block;
    height: 400px;
    background-position: center;
    background-size: cover;
    padding: 0px;
    display: flex;
    align-items: stretch;
}
.categories .overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: block;
}

/* Collections Style */
.collections {
    z-index: 900;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}
.collections .bg-image {
    height: 400px;
    background-position: center;
    background-size: cover;
    padding: 0px;
    display: flex;
    align-items: stretch;
}
.collections .bg-image .overlay {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    display: grid;
    align-items: flex-end;
    align-items: space-around;
    justify-content: flex-start;
    flex-direction: row;
}

/* Search Style */
.search {
    z-index: 900;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}

/* Catalog Style */
.catalog {
    z-index: 900;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}
.catalog .catalog-product {
}
.catalog .catalog-product .catalog-image {
    height: 250px;
    background: {{style.White}};
    background-position: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
}
.catalog .catalog-product .catalog-content {
    display: flex;
    background: {{style.Silver}};
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
