/* Body Style */
body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    display: block;
}
main {
    background: {{style.White}};
}
.row {
    margin: 0
}
.col {
    margin: 0
}

/* Footer Style */
footer { background: {{style.Black}}; }
footer h1 { color: {{style.White}}; }
footer h2 { color: {{style.White}}; }
footer h3 { color: {{style.White}}; }
footer h4 { color: {{style.White}}; }
footer h5 { color: {{style.White}}; }
footer h6 { color: {{style.White}}; }
footer p { color: {{style.White}}; }
footer a { color: {{style.White}}; }

/* Header Style */
.header {
    background: {{style.White}};
    user-select: none;
    margin: 0px!important;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: space-between;
    border-bottom: 1px solid {{style.Silver}};
}
.header > div {
    padding: 0px;
    user-select: none;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Shipping Style */
.shipping {
    z-index: 900;
    margin: 0px!important;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}
.shipping img {
    width: 50px;
}

/* Shipping Style */
.categories {
    z-index: 900;
    margin: 0px!important;
    background: {{style.Silver}};
    display: block;
    width: 100%;
    margin: 0;
}
.categories > div {
    display: block;
    height: 400px;
    background-position: center;
    background-size: cover;
    padding: 0px;
    display: flex;
    align-items: stretch;
}

/* Collections Style */
.collections {
    z-index: 900;
    margin: 0px!important;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}
.collections .bg-image { height: 400px; }

/* Search Style */
.search {
    margin: 0px!important;
    z-index: 900;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}

/* Catalog Style */
.catalog {
    z-index: 900;
    margin: 0px!important;
    background: {{style.White}};
    display: block;
    width: 100%;
    margin: 0;
}
.catalog .catalog-image {
    height: 400px;
    display: block;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-size: cover;
    padding: 0px;
    display: flex;
    align-items: stretch;
}

/* Products Style */
#products-collection {
    height: 50vh;
}

/* Product Style */
#product {}
#product .bg-image { height: 700px; }
#product #kproduct {
    display: block;
    width: 100%;
    padding: 0%;
    margin: 0%;
    max-width: 100%!important;
}
