/* Body Style */
body {
    width: 100%;
    overflow-x: hidden;
    background: {{style.White}};
    font-family: "Poppins", sans-serif;
    display: block;
}

/* List Style */
ul {
    list-style: none;
    padding: 0;
}

/* Style Extensions */
.center { text-align: center; }
.padding-lg { padding: 5em; }
.padding-md { padding: 2.5em; }
.padding-sm { padding: 1em; }
.padding-xs { padding: 0.5em; }
