/* H1 Title Style */
h1 {
    text-transform: uppercase;
    font-family: "Lalezar", "Poppins", sans-serif;
    user-select: none;
    color: {{style.Black}};
    padding: 0;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
}

/* H2 Title Style */
h2 {
    text-transform: uppercase;
    font-family: "Lalezar", "Poppins", sans-serif;
    user-select: none;
    color: {{style.Black}};
    padding: 0;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
}

/* H3 Title Style */
h3 {
    text-transform: uppercase;
    font-family: "Lalezar", "Poppins", sans-serif;
    user-select: none;
    color: {{style.Black}};
    padding: 0;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
}

/* H4 Title Style */
h4 {
    text-transform: uppercase;
    color: {{style.Black}};
    user-select: none;
    padding: 0;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
}

/* H5 Title Style */
h5 {
    text-transform: uppercase;
    color: {{style.Black}};
    user-select: none;
    padding: 0;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
}

/* H6 Title Style */
h6 {
    text-transform: uppercase;
    color: {{style.Black}};
    user-select: none;
    padding: 0;
    margin: 0;
    display: block;
    text-overflow: ellipsis;
}

/* Paragraph Style */
p {
    color: {{style.Black}};
    user-select: none;
    padding: 0;
}

/* Link Style */
a:link, a:visited, a:active {
    user-select: text;
    color: {{style.Primary}};
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.2s;
}
a:hover {
    user-select: text;
    color: {{style.Tertiary}};
    text-decoration: none;
}

/* Ellipsis Style */
.nowrap {
    white-space: nowrap;
    width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis;
}
