{% extends 'html/root.layout.html' %}

{% block main %}
    <br/>
    <br/>
    <br/>

    {# List of Products in the Cart #}
    <div id="cart" class="padding-sm center row">
        <img src="assets/cart/empty.png" height="300px"/>
        <br/>
        <h6 id="cart-empty" class="center padding-md">
            {{strings.EmptyCart}}
        </h6>
        <form action="products.html" method="GET" class="padding-no">
            <button class="button-black padding-sm">
                {{strings.FindProducts}}
            </button>
        </form>
    </div>
    {# End of List of Products in the Cart #}

    {# View More Products #}
    <div id="cart-buy" class="hidden center padding-sm">
        <form method="GET" action="WIP.html">
            <button class="button-black padding-sm" type="submit">
                {{strings.Buy}}
            </button>
        </form>
    </div>
    {# End of View More Products #}

    <br/>
    <br/>
    <br/>
{% endblock %}
