{% extends 'root.layout.html' %}

{% block main %}
    {% include 'slider.layout.html' %}
    {% include 'search.layout.html' %}
    {% include 'catalog.layout.html' %}
    <div class="center padding-lg">
        <form method="GET" action="products.html">
            <button class="padding-sm" type="submit">
                {{strings.ViewMore}}
            </button>
        </form>
    </div>
    {% include 'collections.layout.html' %}
    {% include 'shipping.layout.html' %}
    {% include 'categories.layout.html' %}
{% endblock %}
