{% extends 'html/root.layout.html' %}

{% block main %}
    {% include 'html/slider.layout.html' %}
    {# include 'html/search.layout.html' #}
    {% include 'html/catalog.layout.html' %}

    {# View More Products #}
    <div class="center padding-sm">
        <form method="GET" action="products.html">
            <button class="padding-sm" type="submit">
                {{strings.ViewMore}}
            </button>
        </form>
    </div>
    {# End of View More Products #}

    {% include 'html/shipping.layout.html' %}

    {# Collections #}
    <div id="collections" class="collections center padding-lg row"></div>
    {# End of Collections #}

{% endblock %}
