{% extends 'html/root.layout.html' %}

{% block main %}
    {% include 'html/slider.layout.html' %}
    {# include 'html/search.layout.html' #}
    {% include 'html/catalog.layout.html' %}
    <div class="center padding-sm">
        <form method="GET" action="products.html">
            <button class="padding-sm" type="submit">
                {{strings.ViewMore}}
            </button>
        </form>
    </div>
    {% include 'html/collections.layout.html' %}
    {% include 'html/shipping.layout.html' %}
    {% include 'html/categories.layout.html' %}
{% endblock %}
