/* Body Style */
body {
    width: 100%;
    overflow-x: hidden;
    background: {{style.White}};
    font-family: "Poppins", sans-serif;
}

/* List Style */
ul {
    list-style: none;
    padding: 0;
}

/* Footer Style */
footer { background: {{style.Black}}; }
footer h1 { color: {{style.White}}; }
footer h2 { color: {{style.White}}; }
footer h3 { color: {{style.White}}; }
footer h4 { color: {{style.White}}; }
footer h5 { color: {{style.White}}; }
footer h6 { color: {{style.White}}; }
footer p { color: {{style.White}}; }
footer a { color: {{style.White}}; }

/* Header Style */
.header {
    background: {{style.Primary}};
    display: block;
    width: 100%;
    margin: 0;
}

/* Style Extensions */
.center { text-align: center; }
.padding-lg { padding: 5em; }
.padding-sm { padding: 1em; }
.padding-xs { padding: 0.5em; }
